@import "common";
@import "variable";
@import "Layout/Header.scss";

.Banner {
    .row {
        .Welcome {
            margin: auto;

            h1 {
                font-size: 6rem;
                color: $PrimeColor;
                font-weight: 700;
                font-family: "Playwrite NG Modern", cursive;
            }

            p {
                margin-top: 20px;
            }
        }

        .Image {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%;
                height: 400px;
            }
        }
    }
}

.Information {
    background-color: $PrePrimeColor;
    padding: 80px 0;

    .container {
        .h3 {
            font-family: 'Times New Roman', Times, serif !important;
        }

        .row {
            h5 {
                font-size: 1rem;
                font-weight: 700;
            }
        }
    }
}

.Quote {
    text-align: center;
    color: $PrimeColor;

    h2 {
        font-family: "Playwrite NG Modern", cursive;
    }

    p {
        margin-top: 30px;
    }
}

.ImageCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    .Card {
        position: relative;
        height: 300px;
        background-color: $PrimeColor;
        img {
            width: 100%;
            height: 100%;
            opacity: 1;
        }

        figcaption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 2rem;
            font-weight: 550;
            font-family: 'Times New Roman', Times, serif;
            opacity: 0;
            color: #fff;
        }
        &:hover{
            img {
                opacity: 0.5;
            } 
            figcaption {
                opacity: 1;
            }
        }
    }
}

.More {
    text-align: center;

    button {
        border: none;
        padding: 20px 50px;
        width: fit-content;
        font-size: 1.1rem;
        font-weight: 550;
        transition: all 0.1s linear;
        background-color: transparent;

        &:hover {
            background-color: $PrimeColor;
            color: #fff;
        }
    }
}

.FeedBack {
    background-color: $PrimeColor;
    color: #fff;
    padding: 50px 0;

    .row {
        .col-lg-6 {
            border-left: 7px solid #fff;
        }

        font-size: 1.2rem;

        span {
            font-weight: 800;
        }
    }
}